<div class="container">
    <div class="container" id="title">
        <h4 class="text-center">
            The simple octa calculator
        </h4>
    </div>

    <div class="container" id="calcs-section">
        <div class="row">
            <input title="calc_input" id="print" class="col form-control calcs text-right" type="text" name="input" size="16">
        </div>
    </div>

    <div class="container" id="calc-buttons">
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-primary col">7</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-secondary col">C</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-secondary col">←</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-primary col">/</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-primary col">4</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-primary col">5</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-primary col">6</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-primary col">x</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-primary col">1</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-primary col">2</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-primary col">3</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-primary col">-</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-secondary col">CE</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-primary col">0</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-success col">=</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-primary col">+</button>
            </div>
        </div>
    </div>
</div>
